{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!--<link rel="stylesheet" href = "{% static 'css/AI.css' %}">-->
    <link rel="stylesheet" href = "{% static 'css/init.css' %}">
    <meta charset="UTF-8">
<!--<link rel = "stylesheet" href="{% static 'css/css.css' %}">-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;500;600;800;900&display=swap" rel="stylesheet">
    <title>{% block title %}CyberX{% endblock %}</title>
</head>
<body>

<!--<div class="loader"></div>-->
{%block content%}

{%endblock%}
</body>
</html>